.frog {
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: opacity 0.5s ease-out, bottom 0s, right 0s;
}

.frog img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.frog img:hover {
  transform: translateY(-20px);
}

.hidden {
  opacity: 0;
}
